@import url(https://fonts.google.com/specimen/Figtree);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

body {
  font-size: 1rem;
  font-family: "Figtree", system-ui, sans-serif;
  font-weight: normal;
}
